            This system is managed by Ansible.

                 ;                           {{ cts_role_utils_compagnie.name }}
                ]KKN                             {{ cts_role_utils_compagnie.bu }}
                ]KKKN,
                ]KKKKKp
                TKKKKKKm
         ]wc     ]KKKKKKN
         ]KKKW,   9KKKKKKN
          9KKKKNw  VKKKKKKN,
           1KKKKKKNp?KKKKKKKp
            ?KKKKKKKKNJKKKKKKp     wp
              ?KKKKKKKKNw?TMKKm   ]KKM
                 "*RKKKKKKN   a#KK@
                         "l ]KKKKM,,
                          zp#KKMl 'KKNwc
                        ;]KKN  !Kw 1KKKKKKWp
                       #KKP,    BKKw"KKKKKKKKKNw
                     KKKl`      ]KKKKp9KKKKKKKKKKKWp
                  jKKNl         'KKKKKNp"KKKKKKKKKKKKNw,
                ]KKPl            ?KKKKKKNp ?*RKKKKKKKKKKK
              #KNl"               "KKKKKKKN      'l"ll"
            #KHl                    ?KKKKKKKm
         jKNJ"                         ?KKKKKNp
          ll                               l*"*

               OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
               IP address  : {{ ansible_default_ipv4.address }}
               Virt type   : {{ ansible_virtualization_type }}
{% if cts_role_utils_compagnie.custom is defined %}
{{ cts_role_utils_compagnie.custom }}
{% endif %}
