
            This system is managed by Ansible.
              By {{ cts_role_utils_compagnie.name }} - {{ cts_role_utils_compagnie.bu }}

               OS          : {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_architecture }}
               IP address  : {{ ansible_default_ipv4.address }}
               Gateway     : {{ ansible_default_ipv4.gateway }}
               Virt type   : {{ ansible_virtualization_type }}
{% if cts_role_utils_compagnie.custom is defined %}
{{ cts_role_utils_compagnie.custom }}
{% endif %}
